VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=mihsef-ops.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mihsef-ops
VITE_FIREBASE_STORAGE_BUCKET=mihsef-ops.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=340767221226
VITE_FIREBASE_APP_ID=your_app_id_here
